body {
    background-color: rgba(220, 220, 220, 0.8);
    white-space: nowrap;
    user-select: none;
    overflow: hidden;
    -webkit-app-region: drag;
}

#nico {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
#nico:-webkit-full-screen{
    white-space: nowrap;
    overflow: hidden;
    background-color: rgba(220, 220, 220, 0.8);
}

#nico .nicojs-comment {
    position: absolute;
    text-shadow: 2px 2px 2px #111;

}

#menu{
    -webkit-transition: 0.2s;
    opacity: 0;
    padding-top: 20px;

}
#menu:hover{
    opacity: 1;
}
.cell{
    text-align: center;
}
.no-drag {
    -webkit-app-region: no-drag;
}


