body {
    background-color: rgba(220, 220, 220, 0.8);
    white-space: nowrap;
    user-select: none;
    overflow: hidden;
    -webkit-app-region: drag;
}

#nico {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#nico .nicojs-comment {
    position: absolute;
    text-shadow: 2px 2px 2px #111;
}

.no-drag {
    -webkit-app-region: no-drag;
}

#menu{
    /*transition: 0.1s;*/
    /*-webkit-transition: 0.1s;*/
    /*opacity: 1;*/
    transition: background-color 1s;
    background-color: aliceblue;
    margin-bottom: 100px;
    width: 100%;
}

/*#menu:hover{*/
    /*background-color: rebeccapurple;*/
    /*!*opacity: 0;*!*/
    /*!*background-color: aliceblue;*!*/
/*}*/